<%= rcumber_flashes %>

<h1><%= image_tag('rcumber.gif') %> <%= @rcumber.name %></h1>
	


<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("demo");
</script> 


<div id="demo" class="yui-navset">
    <ul class="yui-nav">
        <li class="<%= 'selected' %>">
					<a href="#tab1"><em>Cucumber Test</em></a>
				</li>
				<% unless @rcumber.last_results.nil? %>
        <li>
					<a href="#tab2"><em>Cucumber Test Results</em></a>
				</li>
				<% end %>
    </ul>         
   
    <div class="yui-content">
    
      <div><p>
				<fieldset id="edit_rcumber">
					<legend>Edit it</legend>
	
					<% form_for @rcumber, :url => rcumber_path(@rcumber.uid) do |f| %>
						<%= f.text_area :raw_content, :cols => 70 %>
						<br/>
						<br/>
							<%= submit_tag 'Pickle It!' %>
							<%= link_to 'Cancel this edit', rcumber_path(@rcumber.uid) %>
							<% if params[:demos] == "true" %>
								<input type="hidden" name="demos" value="true">
							<% end %>
					<% end %>
				</fieldset>

			</p></div>

			<% unless @rcumber.last_results.nil? %>
		  <div class="cucumber_results"><p>
				<%= render :partial => 'rcumbers/actions' %>
				<pre><%= @rcumber.last_results.to_s %></pre>
				</p></div>
			<% end %>

		</div><!-- yui-content -->
		
</div>
