<%= link_to 'all tests', '/rcumber' %>
<%= rcumber_flashes %>
<h1><%= @rcumber.name %></h1>
<% form_for @rcumber, :url => rcumber_path(@rcumber.uid) do |f| %>
	<%= f.text_area :raw_content, :cols => 80 %>
		<%= submit_tag 'Save' %>
<% end %>
<%= link_to 'run this test', rcumber_run_path(@rcumber.uid)%>
<% unless @rcumber.last_results.nil? %>
	<h1>Test Results</h1>
	<ul>
		<% @rcumber.last_results.each do |line| %>
			<%= content_tag :li, line %>
		<% end %>
	</ul>
<% end %>