<h1><%= image_tag('rcumber.gif') %> <%= @rcumber.name %></h1>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("demo");
</script> 

<div id="demo" class="yui-navset">
    <ul class="yui-nav">
        <li class="<%= 'selected' %>">
					<a href="#tab1"><em>
						Cucumber Test 	
					</em></a>
				</li>
				<% unless @rcumber.last_results.nil? %>
        <li>
					<a href="#tab2"><em>Cucumber Test Results <span id="state" class="<%= @rcumber.state.to_s %>"><%= @rcumber.state.to_s %></span>
						</em></a>
				</li>
				<% end %>
    </ul>         
   
    <div class="yui-content">
    
      <div><p>
				<%= render :partial => 'rcumbers/actions' %>
				<pre><%= @rcumber.raw_content.to_s %></pre>
			</p></div>

			<% unless @rcumber.last_results.nil? %>
		  <div class="cucumber_results"><p>
				<%= render :partial => 'rcumbers/actions' %>
				<pre><%= @rcumber.last_results.to_s %></pre>
				</p></div>
			<% end %>

		</div><!-- yui-content -->
		
</div>
