<%= link_to 'see all story tests', '/rcumber' %>
| <%= link_to 'run this story test', rcumber_run_path(@rcumber.uid) + demo_parameters %>
| <%= link_to 'edit this story test', edit_rcumber_path(@rcumber.uid) + demo_parameters %>

<%= rcumber_flashes %>

<h1><%= @rcumber.name %></h1>
	
	<ul class="rcumber_content">
	<% @rcumber.raw_content.each do |line| %>
		<%
			line =~ /([ \t]*)(.*)/
			indents = $1.split('').collect{|x| '&nbsp;&nbsp;'}
		%>
		<%= content_tag :li, indents.to_s + line %>
	<% end %>
	</ul>



<% unless @rcumber.last_results.nil? %>
	<h1>Test Results</h1>
	<ul>
		<% @rcumber.last_results.each do |line| %>
			<%= content_tag :li, line %>
		<% end %>
	</ul>
<% end %>