<h1><%= @rcumber.name %></h1>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("demo");
</script> 

<div id="demo" class="yui-navset">
    <ul class="yui-nav">
        <li class="<%= @rcumber.last_results.nil? ? 'selected' : '' %>">
					<a href="#tab1"><em>Cucumber Test</em></a>
				</li>
				<% unless @rcumber.last_results.nil? %>
        <li class="<%= @rcumber.last_results ? 'selected' : '' %>">
					<a href="#tab2"><em>Cucumber Test Results</em></a>
				</li>
				<% end %>
    </ul>         
   
    <div class="yui-content">
    
      <div><p>
				<%= link_to 'see all cucumbers', rcumbers_path %>
				| <%= link_to 'run this cucumber', rcumber_run_path(@rcumber.uid) + demo_parameters %>
				| <%= link_to 'edit this cucumber', edit_rcumber_path(@rcumber.uid) + demo_parameters %>				
				| <%= link_to 'create a new cucumber', new_rcumber_path + demo_parameters %>				
				| <%= link_to 'delete this cucumber', rcumber_path(@rcumber.uid) + demo_parameters, :method => 'delete', :confirm => "This will remove the file from your filesystem.  Have you got a copy you can recover? Are you sure you want to delete the file on disk?" %>				
				<pre><%= @rcumber.raw_content.to_s %></pre>
			</p></div>

			<% unless @rcumber.last_results.nil? %>
		  <div>
				<%= link_to 'see all story tests', '/rcumber' %>
				| <%= link_to 'run this story test', rcumber_run_path(@rcumber.uid) + demo_parameters %>
				| <%= link_to 'edit this story test', edit_rcumber_path(@rcumber.uid) + demo_parameters %>			
				<p>
					<pre><%= @rcumber.last_results.to_s %></pre>
				</p>
			</div>
			<% end %>

		</div><!-- yui-content -->
		
</div>
